@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    overflow: hidden;
    box-sizing: border-box;
    font-family:'Sawarabi Mincho' ;
}

.tb{
    -webkit-text-stroke: 0.1rem #bebedec8;

}
.glass {
/* From https://css.glass */
    background: rgba(255, 255, 255, 0.07);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.3px);
    -webkit-backdrop-filter: blur(6.3px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}